<div class="chartitle">
  <div class="title">
    <h3>Add New Chart</h3>
    <div class="subtitle"></div>
  </div>
</div>
<div class="chart-container">
  <div class="new chart">
    <div class="toggle"><i class="icon-plus"></i></div>
    <form class="form-search">
      <input type="text" class="input-medium search-query">
      <button type="submit" class="add btn">Add</button>
    </form>
  </div>
</div>
