<div id="top-row">
  <div class="row">
    <div class="col-sm-6">
      <div id="map-container"></div>
    </div>
    <div class="col-sm-6">
      <div id="menu-container">
      <div class="intro"></div>
        <p>Choose a set of statistics:</p>
        <div class="preset-list"></div>
      </div>
    </div>
  </div>
</div>
<div id="middle-row">
  <div class="row">
    <div class="col-sm-8">
      <div id="blurb-container">
        <div id="blurb"></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="chart-settings">
        <h4>Chart Tools</h4>
        <div class="chart-tools-one btn-group btn-group-sm">
          <button class="data-table-all btn btn-default" data-toggle="tooltip" title="Table View">View Table</button>
          <button class="download-all btn btn-default" data-toggle="tooltip" title="Download Data">Download All</button>
        </div>
        <div class="chart-tools-two btn-group btn-group-sm">
          <button class="chartTool all-sortDesc btn btn-default" data-toggle="tooltip" title="Sort Descending"><i class="icon-chevron-down"></i></button>
          <button class="chartTool all-sortAsc btn btn-default" data-toggle="tooltip" title="Sort Ascending"><i class="icon-chevron-up"></i></button>
          <button class="chartTool all-sortAlpha btn btn-default" data-toggle="tooltip" title="Sort Alphabetically"><i class="icon-sort-by-alphabet"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="charts">
  <div class="row"></div>
</div>
