<div class="row">
  <div class="col-md-12">
    <div class="main-intro-container">
      <div class="main-intro">
        <p class="lead"><strong>Welcome to the Maryland DBED Data Explorer.</strong></p>
        <p class="lead">Get to know Maryland better with the easy-to-use Data Explorer. Compare information on education, the economy, taxes and quality of life on different locations within Maryland or with other states and metro areas. </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="geo-chooser">
    <div class="col-md-4">
      <div class="geo-chooser-btn counties">
        <h4>Compare Counties</h4>
        <img src="img/county8.png" />
        <p>Compare Maryland's 24 major jurisdictions, including 23 counties and the City of Baltimore.</p>
      </div>
      
    </div>
    <div class="col-md-4">
      <div class="geo-chooser-btn states">
        <h4>Compare States</h4>
        <img src="img/state8.png" />
        <p>Compare Maryland with the other states and the District of Columbia.</p>
      </div>
      <div class="stat-list" id="states"></div>
    </div>
    <div class="col-md-4">
      <div class="geo-chooser-btn metros">
        <h4>Compare Metros</h4>
        <img src="img/metro8.png" />
        <p>Compare the Baltimore and Washington, D.C. metropolitan areas with other top 50 metro areas.</p>
      </div>
      <div class="stat-list" id="metros"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="description">
      <p class="lead">To begin, choose to compare counties, states, or metropolitan areas. Select areas of interest from the map, list, or choose the select all button. Select a set of statistics to compare and explore the interactive charts.</p>
      <p class="lead">Use the Chart Tools to customize or to download all the charts on the current page. Additional tools are available for each chart and can be accessed by opening the chart menu in the upper right. Here users can customize or download the individual chart, or choose to embed the chart into another website. Source information for each chart is available at the bottom of each chart. Tips and other helpful information can be found by selecting the <i class="icon-info-sign"></i> icon on each chart. </p>
      <p class="lead">Data in this dashboard is available for download, and is available on <a href="https://data.maryland.gov/">Maryland's Open Data Portal.</a> </p>
    </div>
  </div>
</div>
