<div id="map-tools-container">
  <div id="map-tools">
  <div class="compare">
    <div class="btn-group btn-group-sm ">
      <button id="counties" class="map-tool btn btn-default active">Counties</button>
      <button id="states" class="map-tool btn btn-default">States</button>
      <button id="metros" class="map-tool btn btn-default">Metros</button>
    </div>
  </div>
  <div class="tools">
    <div class="btn-group btn-group-sm ">
      <button id="reset" class="btn btn-default">Reset</button>
      <button id="selectAll" class="btn btn-default">Select All</button>
      <button id="list" class="btn btn-default">List</button>
    </div>
  </div>
</div>
<div id="map"></div>
<div id="geolist">
  List of geos
</div>
